v1/node_modules
v1/assets/**/*.css
v1/assets/**/*.rb
v1/assets/**/*.sass
v1/assets/css/**/*
v1/assets/js/app/**/*
v1/assets/js/lib/**/*
v1/assets/js/*.*
v1/assets/js/vendor/**/*
v1/assets/js/Pattern.console.js
v1/assets/js/Pattern.json.js
v1/assets/js/Pattern.txt
v1/views/*
v1/*.html
v1/package.json
v1/app.js
