doctype html
html(lang='en')
	head
		title Pattern MVC (JavaScript from Sequence Media Limited)
	body
		script(type='text/javascript', data-main='assets/js/app/pattern.js', src='assets/js/lib/requirejs/2.1.18/require.js')