
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d693b585-b088-44f4-9784-3ec91b74224a");
@font-face{
font-family:"Joanna W01_n4";
src:url("http://www.patternmvc.com/assets/css/fonts/dbe1bef8-6849-4691-aca3-ce5b64d33b99.eot?#iefix") format("eot")
}
@font-face{
font-family:"Joanna W01";
src:url("http://www.patternmvc.com/assets/css/fonts/dbe1bef8-6849-4691-aca3-ce5b64d33b99.eot?#iefix");
src:url("http://www.patternmvc.com/assets/css/fonts/dbe1bef8-6849-4691-aca3-ce5b64d33b99.eot?#iefix") format("eot"),url("http://www.patternmvc.com/assets/css/fonts/364b86dd-80d0-4a67-ac99-75710e919ab2.woff") format("woff"),url("http://www.patternmvc.com/assets/css/fonts/cbee0c5e-0c11-46e9-837b-e0ad44d30af2.ttf") format("truetype"),url("http://www.patternmvc.com/assets/css/fonts/fcfd8d6c-9115-48a1-ab19-ce635150748f.svg#fcfd8d6c-9115-48a1-ab19-ce635150748f") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Joanna W01_i4";
src:url("http://www.patternmvc.com/assets/css/fonts/bfaf419f-db9f-42e5-8341-dd23b7141c62.eot?#iefix") format("eot")
}
@font-face{
font-family:"Joanna W01";
src:url("http://www.patternmvc.com/assets/css/fonts/bfaf419f-db9f-42e5-8341-dd23b7141c62.eot?#iefix");
src:url("http://www.patternmvc.com/assets/css/fonts/bfaf419f-db9f-42e5-8341-dd23b7141c62.eot?#iefix") format("eot"),url("http://www.patternmvc.com/assets/css/fonts/3b5db5d4-2510-42e4-bf30-7f96b70b6d9b.woff") format("woff"),url("http://www.patternmvc.com/assets/css/fonts/0a155926-9d1e-4463-b03f-1b831f11fdf5.ttf") format("truetype"),url("http://www.patternmvc.com/assets/css/fonts/3521f563-7f08-499b-b27d-12f9293b8b85.svg#3521f563-7f08-499b-b27d-12f9293b8b85") format("svg");
font-weight: 400;
font-style: italic;
}
@font-face{
font-family:"Joanna W01_n6";
src:url("http://www.patternmvc.com/assets/css/fonts/a79a64c0-742a-4f0a-95a3-48e240e1464e.eot?#iefix") format("eot")
}
@font-face{
font-family:"Joanna W01";
src:url("http://www.patternmvc.com/assets/css/fonts/a79a64c0-742a-4f0a-95a3-48e240e1464e.eot?#iefix");
src:url("http://www.patternmvc.com/assets/css/fonts/a79a64c0-742a-4f0a-95a3-48e240e1464e.eot?#iefix") format("eot"),url("http://www.patternmvc.com/assets/css/fonts/d1978752-2ddd-4336-9e79-f331d5910c91.woff") format("woff"),url("http://www.patternmvc.com/assets/css/fonts/e1ae0937-4f65-4971-92b3-c5d36f093122.ttf") format("truetype"),url("http://www.patternmvc.com/assets/css/fonts/121df9e8-4e8d-4d15-895c-a29080e09e2e.svg#121df9e8-4e8d-4d15-895c-a29080e09e2e") format("svg");
font-weight: 600;
font-style: normal;
}
@font-face{
font-family:"Joanna W01_i6";
src:url("http://www.patternmvc.com/assets/css/fonts/470ea5c6-e0b1-4902-88a5-1f990db02c39.eot?#iefix") format("eot")
}
@font-face{
font-family:"Joanna W01";
src:url("http://www.patternmvc.com/assets/css/fonts/470ea5c6-e0b1-4902-88a5-1f990db02c39.eot?#iefix");
src:url("http://www.patternmvc.com/assets/css/fonts/470ea5c6-e0b1-4902-88a5-1f990db02c39.eot?#iefix") format("eot"),url("http://www.patternmvc.com/assets/css/fonts/b173ad26-8270-49f9-b662-901f7284c964.woff") format("woff"),url("http://www.patternmvc.com/assets/css/fonts/7f64a77c-1b22-4d37-b9d9-822e715cb4dd.ttf") format("truetype"),url("http://www.patternmvc.com/assets/css/fonts/d7d8501c-a2f2-4f9a-aca7-b289836cf2d8.svg#d7d8501c-a2f2-4f9a-aca7-b289836cf2d8") format("svg");
font-weight: 600;
font-style: italic;
}
@font-face{
font-family:"Joanna W01_n7";
src:url("http://www.patternmvc.com/assets/css/fonts/5db88fa7-8643-4725-a108-0b83d7b90c6b.eot?#iefix") format("eot")
}
@font-face{
font-family:"Joanna W01";
src:url("http://www.patternmvc.com/assets/css/fonts/5db88fa7-8643-4725-a108-0b83d7b90c6b.eot?#iefix");
src:url("http://www.patternmvc.com/assets/css/fonts/5db88fa7-8643-4725-a108-0b83d7b90c6b.eot?#iefix") format("eot"),url("http://www.patternmvc.com/assets/css/fonts/4aa1c591-a76e-4e30-8cb1-518f57712d83.woff") format("woff"),url("http://www.patternmvc.com/assets/css/fonts/3df4f047-d9fc-4d4a-8a63-22e618b401c6.ttf") format("truetype"),url("http://www.patternmvc.com/assets/css/fonts/1c2a22b2-6a2a-411d-905e-d49c7975881a.svg#1c2a22b2-6a2a-411d-905e-d49c7975881a") format("svg");
font-weight: 700;
font-style: normal;
}
@font-face{
font-family:"Joanna W01_i7";
src:url("http://www.patternmvc.com/assets/css/fonts/9d6e71aa-215f-444e-99fe-96a84f0398b7.eot?#iefix") format("eot")
}
@font-face{
font-family:"Joanna W01";
src:url("http://www.patternmvc.com/assets/css/fonts/9d6e71aa-215f-444e-99fe-96a84f0398b7.eot?#iefix");
src:url("http://www.patternmvc.com/assets/css/fonts/9d6e71aa-215f-444e-99fe-96a84f0398b7.eot?#iefix") format("eot"),url("http://www.patternmvc.com/assets/css/fonts/70f405c6-439d-4e06-a223-95f4e51783c4.woff") format("woff"),url("http://www.patternmvc.com/assets/css/fonts/8ff05490-15aa-4cf3-ad8f-49d2563bebe5.ttf") format("truetype"),url("http://www.patternmvc.com/assets/css/fonts/111bcf16-fd12-4082-9f63-96f8ed6252fb.svg#111bcf16-fd12-4082-9f63-96f8ed6252fb") format("svg");
font-weight: 700;
font-style: italic;
}
@font-face{
font-family:"Joanna W01_n8";
src:url("http://www.patternmvc.com/assets/css/fonts/3c9ebe3e-b5ab-4126-8b35-c8e2025c0209.eot?#iefix") format("eot")
}
@font-face{
font-family:"Joanna W01";
src:url("http://www.patternmvc.com/assets/css/fonts/3c9ebe3e-b5ab-4126-8b35-c8e2025c0209.eot?#iefix");
src:url("http://www.patternmvc.com/assets/css/fonts/3c9ebe3e-b5ab-4126-8b35-c8e2025c0209.eot?#iefix") format("eot"),url("http://www.patternmvc.com/assets/css/fonts/55daf22d-8ca1-4157-94a6-3efe17a5cef1.woff") format("woff"),url("http://www.patternmvc.com/assets/css/fonts/91794405-68f3-40d7-bd2c-ee7d607ec75c.ttf") format("truetype"),url("http://www.patternmvc.com/assets/css/fonts/d7506478-8bd0-4578-8048-66ab08a25bef.svg#d7506478-8bd0-4578-8048-66ab08a25bef") format("svg");
font-weight: 800;
font-style: normal;
}
